body {
	background: ghostwhite;
}

.box, .formBox {
	background: #fff;
	border: 2px solid #e0e0e0;
	box-sizing: border-box;
	width: 50%;
	text-align: center;
	margin: 2% auto;
	padding: 2%;
}

.formBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 18%;
}

input[type="text"] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	margin-top: 2%;
	padding: 0.75% 2.5% 0.75% 1%;
}

textarea {
	display: block;
	margin-top: 2%;
}

button {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	background: white;
	padding: 2% 5%;
	margin-top: 2%;
}

button:hover {
	border-color: transparent;
	background: #ccc;
	cursor: pointer;
}

.avatarCont {
	margin: 5% auto;
}

.selectAvatar {
	width: 50px;
	margin-right: 5%;
}

.selectAvatar:last-of-type {
	margin-right: 0;
}

input[type="radio"] {
	display: none;
}

label {
	margin-right: 1.5%;
}

label:last-of-type {
	margin-right: 0;
}

span {
	background-size: 50px 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-repeat: no-repeat;

}

input[type="radio"]:checked + label span {
	filter: drop-shadow(0px 0px 3px #4c00d2);
}

.selected {
	border: 3px solid #673AB7;
    background: #673AB7;
    border-radius: 50%;
    padding: 0%;
}